{{ description = "I like to share what I learn" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ meta_title or title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ meta_description or description }}">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,900" rel="stylesheet">
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ site.permalink }}/favicon.png" />
        <link rel="alternate" type="application/rss+xml" title="Simon's RSS feed" href="{{ site.permalink }}/blog/feed.xml" />
        <meta property="og:title" content="{{ meta_title or title }} :: simonhamp.me">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="{{ social_description or meta_description or description }}">
        <meta property="og:image" content="{{ opengraph_image or '{site.permalink}/assets/thumbnail.jpg' }}">
        <meta property="og:url" content="{{ current_url }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@simonhamp">
        <meta name="follow.it-verification-code" content="3RT4p66lSy6D1Kydp4hZ"/>
        {{ vite src="resources/js/app.js|resources/css/app.css" }}
    </head>
    <body class="font-sans leading-loose">
        <nav class="mb-8">
            <ul class="unstyled flex-wrap flex gap-2">
                {{ nav:main include_home="true" }}
                    <li>
                        <a href="{{ url }}" {{ if is_external }}target="_blank" rel="{{ rel }} noopener noreferrer nofollow"{{ /if }}>
                            {{ title }}
                        </a>
                    </li>

                    {{ if ! last }}<li>&nbsp;&bull;&nbsp;</li>{{ /if }}
                {{ /nav:main }}
            </ul>
        </nav>

        {{ template_content }}

        <div class="lg:mt-64">
            <p><small>#notadesigner&nbsp;&bull;&nbsp;#sometimesitworks</small></p>

            <nav>
                <ul class="unstyled flex">
                    {{ nav:footer }}
                        <li>
                            <small>
                                <a href="{{ url }}" {{ if is_external }}target="_blank" rel="{{ rel }} noopener noreferrer nofollow"{{ /if }}>
                                    {{ title }}
                                </a>
                            </small>
                        </li>
                        {{ if ! last }}<li class="hidden lg:block">&nbsp;&bull;&nbsp;</li>{{ /if }}
                    {{ /nav:footer }}
                </ul>
            </nav>

            <p>
                <small>
                    All content licensed
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="nofollow noopener noreferrer" target="_blank">
                        CC BY-SA 4.0
                    </a>
                    &nbsp;&bull;&nbsp;
                    Code highlighting by
                    <a href="https://torchlight.dev/" rel="noopener noreferrer" target="_blank">
                        Torchlight
                    </a>
                </small>
            </p>
        </div>

        <script src="https://assets.calendly.com/assets/external/widget.js"></script>
        <script>
            Calendly.initBadgeWidget({
                url: 'https://calendly.com/simonhamp',
                text: "I'm open for work",
                color: '#F0544F',
                textColor: '#FDF0D5',
                branding: false
            });
        </script>

        <!-- https://coolors.co/f4e8c1-76597b-70a0af-5386e4-4c4b63 -->
        <!-- https://coolors.co/331832-d81e5b-f0544f-c6d8d3-fdf0d5 -->

        {{ if environment === 'production' }}
            <!-- Fathom - beautiful, simple website analytics -->
            <script src="https://cdn.usefathom.com/script.js" data-site="JHNZKQHO" defer></script>
            <!-- / Fathom -->
        {{ /if }}
    </body>
</html>
