<h1>
    {{ title }}
</h1>

<p>
    {{ content }}
</p>

<p>
    <small>
        Here are some useless stats:

        I've published <strong>{{ collection:count in="articles" }} articles</strong>.

        The most recent article was published on
        <strong>
            {{ collection:articles limit="1" }}
                {{ date format="jS M 'y" }}
            {{ /collection:articles }}
        </strong>.<br>

        And I have <strong>{{ collection:count in="articles" status:is="draft" }} articles in draft</strong>.

        The most recent one of those was created on
        <strong>
            {{ collection:articles status:is="draft" limit="1" }}
                {{ date format="jS M 'y" }}
            {{ /collection:articles }}
        </strong>.
    </small>
</p>

{{ collection:articles limit="20" paginate="true" as="posts" }}
    <ul class="grid gap-8 my-8">
        {{ posts }}
            <li>
                <h2 class="text-3xl">
                    <a href="{{ url }}">{{ title }}</a>

                    <small>
                        <span title="Publish date">{{ date format="jS M 'y" }}</span>
                        &bull;
                        <span title="Reading time">{{ content | read_time:260 }} mins</span>
                    </small>
                </h2>
                <p>
                    {{ content | raw | markdown | strip_tags | safe_truncate(200, '...') }}<br>
                    <a href="{{ url }}">Read &rightarrow;</a>
                </p>
            </li>
        {{ /posts }}
    </ul>

    {{ paginate }}
        {{ if prev_page || next_page }}
            <ul class="unstyled flex gap-2">
                <li>
                    <small>
                        {{ if prev_page }}
                            <a href="{{ prev_page }}">&larr; Newer articles</a>
                        {{ else }}
                            <span>💥 You're bang up to date!</span>
                        {{ /if }}
                    </small>
                </li>
                <li>
                    <small>&nbsp;&bull;&nbsp;</small>
                </li>
                <li>
                    <small>
                        {{ if next_page }}
                            <a href="{{ next_page }}">Older articles &rarr;</a>
                        {{ else }}
                            <span>Oh dear! You reached the end of time 😢</span>
                        {{ /if }}
                    </small>
                </li>
            </ul>
        {{ /if }}
    {{ /paginate }}
{{ /collection:articles }}
