<article>
    <header class="mb-8">
        <h1>{{ title }}</h1>

        <p class="flex gap-2">
            <span title="Publish date">{{ date format="jS M 'y" }}</span>
            &bull;
            <span title="Reading time">{{ content | read_time:260 }} of your Earth minutes</span></small>
        </p>

        {{ if original === 'medium' }}
            <aside>
                This article was originally published on <a href="https://medium.com/@simonhamp" target="_blank">Medium</a>.
                But I've stopped publishing there and now exclusively publish my content here.
            </aside>
        {{ /if }}
    </header>

    <div class="prose-2xl prose-ul:list-disc">
        {{ content }}
    </div>
</article>
